@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Outfit:wght@300&display=swap');

/* general config */
html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Outfit', sans-serif;
  background-color: #e8eaed;
}

a {
  text-decoration: none;
  color: #e8eaed;
}

/* header */
.header {
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #181819;
}

.header a {
  color: #e8eaed;
  font-size: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

.header .title {
  font-family: 'Outfit', sans-serif;
  font-size: 30px;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: 550;
}

/* top */
.top {
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #181819;
  transition: padding-left 0.5s, padding-right 0.5s;
  border-radius: 100px/70px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.top #left {
  width: 20%;
  text-align: center;
}

.top #left a {
  font-size: 80px;
  font-family: 'Outfit', sans-serif;
}

.top #right {
  width: 70%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top #right img {
  filter: invert(1);
  /* change from ori black to white */
  width: 50%;
  margin-left: 50%;
}

.top #right a {
  margin-top: -100px;
  font-size: 40px;
  float: left;
  margin-right: 50%;
}