:root {
  --mainColor: #5885af;
  --secondaryColor: #7197BB;

  --borderColor: #c3e0e5;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;

  --previewBg: #7197BB;
  --previewShadow: #5885af;

  --buttonColor: #fff;
}
