:root {
  --mainColor:#609380;
  --secondaryColor: #a6c5ba;

  --borderColor: #fff;

  --mainText: #fff;
  --secondaryText: white;

  --themeDotBorder: #fff;

  --previewBg: #a6c5ba;
  --previewShadow:  #609380;

  --buttonColor: #bbf1f7;
}
