:root {
  --mainColor:#006A4E;
  --secondaryColor: #04523d;

  --borderColor: #fff;

  --mainText: #fff;
  --secondaryText: white;

  --themeDotBorder: #fff;

  --previewBg: #088b68;
  --previewShadow:  #006A4E;

  --buttonColor: #006A4E;
  --postColor: #ffffff;
}
