:root {
  --mainColor:  #DDBDB7;
  --secondaryColor:#e7d2cc ;

  --borderColor: #eeede7;

  --mainText: #fff;
  --secondaryText: white;

  --themeDotBorder: #fff;

  --previewBg: #e7d2cc;
  --previewShadow: #C4A59F;

  --buttonColor: #DDBDB7;
}
