:root {
  --mainColor:  #E6E6FA;
  --secondaryColor:#d0d0ec ;

  --borderColor: #eeede7;

  --mainText: #black;
  --secondaryText: #black;

  --themeDotBorder: #fff;

  --previewBg: #bebee0;
  --previewShadow: #bebee0;

  --buttonColor: #d0d0ec;
  --postColor: #ffffff;
}
