@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply break-words bg-neutral-800 antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    word-wrap: break-word;
}