@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-neon-green: rgb(155, 129, 248);
    --color-neutral-50: rgba(251, 251, 251, 1);
    --color-neutral-100: rgba(247, 247, 247, 1);
    --color-neutral-200: rgba(235, 235, 235, 1);
    --color-neutral-300: rgba(222, 222, 222, 1);
    --color-neutral-400: rgba(188, 188, 188, 1);
    --color-neutral-500: rgba(151, 151, 151, 1);
    --color-neutral-600: rgba(120, 120, 120, 1);
    --color-neutral-700: rgba(101, 101, 101, 1);
    --color-neutral-800: rgba(73, 73, 73, 1);
    --color-neutral-900: rgba(55, 55, 55, 1);
    --color-neutral-950: rgba(39, 39, 39, 1);

}

@layer base {
    body {
        position: relative;
        background-image: url('/bg_gradient.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 170vh;
        @apply break-words antialiased;
        text-rendering: optimizeLegibility;
        scroll-behavior: smooth;
        word-wrap: break-word;
    }

    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.373);
        filter: contrast(1.2) brightness(0.8);
        pointer-events: none;
    }

    h1 {
        @apply text-3xl font-bold tracking-tight text-white md:text-5xl;
        text-shadow: 
            -2px -2px 0 #000,  
            2px -2px 0 #000,
            -2px  2px 0 #000,
            2px  2px 0 #000,
            -3px -3px 0 #000,  
            3px -3px 0 #000,
            -3px  3px 0 #000,
            3px  3px 0 #000;
    }

    h2 {
        @apply text-2xl font-bold tracking-tight;
    }

    a {
        color: var(--color-neon-green);
    }
}
