---
import ProfileImage from './profileImage.astro';
import Socials from './Socials.astro';
---

<div>
  <div class='flex items-center space-x-6'>
    <ProfileImage size='large' />
    <div>
      <h1 class='text-3xl font-medium text-rose-100/80 sm:text-4xl'>
        David Anton ✌️
      </h1>
      <h2 class='align-middle text-lg leading-6 text-rose-100/50'>
        Full-Stack Developer
      </h2>
    </div>
  </div>
  <article class='mt-9 text-xl text-rose-100/90'>
    Greetings! I'm <span id='age'></span> y/o developer who writes 
    in NodeJS & TypeScript, yet constantly exploring 
    new technologies for fun. My focus primarily revolves 
    around crafting websites, indie games, and occasionally developing social platforms that involve server sided stuff.
  </article>
  <div class='mt-9'>
    <Socials />
  </div>
</div>

<script>
  import { getYearDiffFromDate } from '../utils/getYearDiffFromDate';

  const ageElement = document.getElementById('age');

  ageElement!.innerText = getYearDiffFromDate('05/27/2005').toString();
</script>