---
import Link from "./Link.astro";
---

<div class="mt-20 pb-36 text-base">
  <div class="text-gray-500">
    <div class="flex flex-col justify-between font-medium lg:flex-row">
      <div class="flex space-x-5">
        <Link
          href="https://www.linkedin.com/in/anton-david/"
          title="Linkedin"
        />
      </div>
      <div class="space-x-5 pt-2 lg:pt-0">
        <Link href="https://github.com/KayTwenty" title="Github" />
      </div>
    </div>
  </div>
  <p class="mt-8 text-gray-600">
    Built with <Link href="https://astro.build/" title="AstroJS" />,{" "}
    <Link href="https://reactjs.org/" title="ReactJS" /> &{" "}
    <Link href="https://tailwindcss.com" title="Tailwind" />
  </p>
</div>