---
import Link from "./Link.astro";
---

<div class="mt-20 pb-36 text-base">
  <p class="text-gray-600">
    Built with <Link href="https://astro.build/" title="AstroJS" />,
    <Link href="https://reactjs.org/" title="ReactJS" /> &{" "}
    <Link href="https://tailwindcss.com" title="Tailwind" />
  </p>
</div>