---
interface Props {
  size: "large" | "small";
}

const { size } = Astro.props;
---

<a href="#home">
  <div class="rounded-full cursor-pointer bg-gradient-to-tl from-green-400/60 to-lightGreen-500/60 shadow-lg ring-[5px] ring-green-500/10 group transform transition ease-out hover:scale-105 hover:from-green-400 hover:to-lightGreen-500 hover:shadow-lightGreen-500/25 active:translate-y-px">
    <div class="rounded-full p-1">
      <img
        src="/K-20.png"
        alt="David"
        class={`rounded-full ${size === "large" ? "w-16" : "w-10"}`}
      />
    </div>
  </div>
</a>
