---
import SocialIcon from "./socialIcon.astro";
import { FaGithub, FaLinkedin } from "react-icons/fa/index";
---

<div class="flex items-center space-x-7 text-base font-medium leading-none from-green-400 sm:text-lg text-gray-200">
  <SocialIcon
    Icon={FaGithub}
    title="GitHub"
    link="https://github.com/KayTwenty"
  />
  <SocialIcon
    Icon={FaLinkedin}
    title="LinkedIn"
    link="https://www.linkedin.com/in/davidantonn/"
  />
</div>