---
import { GradientBackground } from "../components/GradientBackground";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import '../styles/global.css';

interface Props {
  showNav?: boolean;
  navRefId: string;
}

const { showNav, navRefId } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore the innovative projects and skills of David Anton (Kay/Anton), a full stack developer and systems administrator proficient in Perl, TypeScript, and web development. View my work!">
    <meta name="keywords" content="Full Stack Developer, Systems Administrator, Perl, TypeScript, Web Development, Indie Games, 3D Printing, Resin Printing, Innovative Projects">
    <title>David Anton - Full Stack Developer</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">

    <!-- Twitter Card -->
    <meta name="twitter:title" content="David Anton - Full Stack Developer & Systems Administrator">
    <meta name="twitter:description" content="Explore the innovative projects and skills of David Anton (Kay/Anton), a full stack developer and systems administrator proficient in Perl, TypeScript, and web development.">
    <meta name="twitter:image" content="/icon.jpg">

    <!-- Open Graph -->
    <meta property="og:title" content="David Anton - Full Stack Developer & Systems Administrator">
    <meta property="og:description" content="Explore the innovative projects and skills of David Anton (Kay/Anton), a full stack developer and systems administrator proficient in Perl, TypeScript, and web development.">
    <meta property="og:image" content="/icon.jpg">
    <meta property="og:url" content="https://kaytwenty.com">
    <meta property="og:url" content="https://antton.ca">
    <meta property="og:type" content="website">

    <!-- Schema.org -->
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Person",
          "name": "David Anton",
          "alternateName": ["Kay", "Anton"],
          "jobTitle": "Full Stack Developer & Systems Administrator",
          "email": "davidanton037@gmail.com",
          "url": ["https://kaytwenty.com", "https://antton.ca"]
        }
    </script>
  </head>
  <body>
    <div id="home" class="bg-gray-900 antialiased selection:bg-blue-500/90 selection:text-white min-h-screen">
      <svg class="pointer-events-none fixed isolate z-50 opacity-70 mix-blend-soft-light" width="100%" height="100%">
        <filter id="filterv2">
          <feTurbulence type="fractalNoise" baseFrequency="0.90" numOctaves="4" stitchTiles="stitch"></feTurbulence>
        </filter>
        <rect width="100%" height="100%" filter="url(#filterv2)"></rect>
      </svg>
      <div class="mx-auto w-full max-w-3xl px-4">
        <Navbar showNav={showNav} navRefId={navRefId} />
        <main role="main" class="relative z-10 pt-36 sm:pt-48 text-lg text-rose-100/90 space-y-16">
          <slot />
          <Footer />
        </main>
      </div>
      <GradientBackground client:only="react"/>
    </div>
  </body>
</html>