---
import { GradientBackground } from "../components/GradientBackground";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import '../styles/global.css';

interface Props {
  showNav?: boolean;
  navRefId: string;
}

const { showNav, navRefId } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Anton - Network Engineer & Developer specializing in Perl, TypeScript, and web development. Explore innovative projects, hardware builds, and creative tech solutions.">
    <meta name="keywords" content="Anton, Network Engineer, Developer, Perl, TypeScript, Web Development, Indie Games, 3D Printing, Resin Printing, Hardware Projects, Server Builds">
    <title>Anton - Network Engineer & Developer</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">

    <!-- Twitter Card -->
    <meta name="twitter:title" content="Anton - Network Engineer & Developer">
    <meta name="twitter:description" content="Anton - Network Engineer & Developer specializing in Perl, TypeScript, and web development. Explore innovative projects, hardware builds, and creative tech solutions.">
    <meta name="twitter:image" content="/icon.jpg">

    <!-- Open Graph -->
    <meta property="og:title" content="Anton - Network Engineer & Developer">
    <meta property="og:description" content="Anton - Network Engineer & Developer specializing in Perl, TypeScript, and web development. Explore innovative projects, hardware builds, and creative tech solutions.">
    <meta property="og:image" content="/icon.jpg">
    <meta property="og:url" content="https://kaytwenty.com">
    <meta property="og:url" content="https://antton.ca">
    <meta property="og:type" content="website">

    <!-- Schema.org -->
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Person",
          "name": "Anton",
          "jobTitle": "Network Engineer & Developer",
          "description": "Network Engineer & Developer specializing in Perl, TypeScript, web development, and hardware projects.",
          "email": "davidanton037@gmail.com",
          "url": ["https://kaytwenty.com", "https://antton.ca"],
          "sameAs": ["https://github.com/kaytwenty"]
        }
    </script>
  </head>
  <body>
    <div id="home" class="bg-black antialiased selection:bg-red-600 selection:text-white min-h-screen">
      <svg class="pointer-events-none fixed isolate z-50 opacity-40 mix-blend-overlay" width="100%" height="100%">
        <filter id="filterv2">
          <feTurbulence type="fractalNoise" baseFrequency="0.95" numOctaves="5" stitchTiles="stitch"></feTurbulence>
        </filter>
        <rect width="100%" height="100%" filter="url(#filterv2)"></rect>
      </svg>
      <div class="mx-auto w-full max-w-3xl px-4 sm:px-6">
        <Navbar showNav={showNav} navRefId={navRefId} />
        <main role="main" class="relative z-10 pt-24 sm:pt-36 md:pt-48 text-base sm:text-lg text-gray-100 space-y-12 sm:space-y-16">
          <slot />
          <Footer />
        </main>
      </div>
      <GradientBackground client:only="react"/>
    </div>
  </body>
</html>