---
import Navbar from "@/components/Navbar.astro";
import HeadTags from "@/components/HeadTags.astro";
import { Head } from "astro-capo";

export interface Props {
	title: string,
	description?: string,
}

const { title, description = "Personal website of David Anton" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<Head>
		<HeadTags title={title} description={description} />
	</Head>
	<Navbar />
	<body>
		<slot />
	</body>
</html>