---
import { GradientBackground } from "../components/GradientBackground";
import { Head } from "astro-capo";
import HeadTags from "../components/HeadTags.astro";

export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Personal Website of David Anton" } = Astro.props;
---

<html lang="en">
  <Head>
    <HeadTags title={title} description={description} />
  </Head>
  <body>
    <slot />
    <GradientBackground client:only="react"/>
  </body>
</html>